*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
header{
  background-color:rgb(49, 97, 224);
  width: 100%;
}

.header.container{
}
.container{
  margin: auto;
  width: 80%;
}

#logo{
  float: left;
  margin-top: 20px;
  margin-right: 170px;
}

#login{
  text-decoration: none;
 float: right;
 margin-top: 20px;
} 


/* NAV */
nav{
 list-style: none;
}
nav ul li{
  margin-top: 25px;
  display: inline-block;
}

nav ul li a{
  font-size: 1rem;
  padding: 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  text-decoration: underline;
  color: blue;
}
/* SMALL BUTTON */
.small.button{
  font-size: 13px;
  border: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 10px 10px;
}

.small.button:hover{
  cursor: pointer;
  color:darkslateblue;
  background-color: lightgray;
}
/* /SMALL BUTTON */


/* JUMBOTRON */
.jumbotron{
  text-align: center;
  padding-top: 50px;
  background-image: url(img/jumbo.png);
  background-size: cover;
}

.text{
  max-width: 1000px;
  color: white;
  margin: 0 auto;
  padding: 150px;
}

.text h1{
  font-size: 3rem;
  margin-bottom: 20px;
}

.text p{
  font-size: 1rem;
  text-indent: center;
}

/* JUMBOTRON BUTTONS */

.btn{
  margin: 20px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.download{
  background-color: white;
  color: black;
}

.browser{
  color: white;
  background-color: black;
}
.browser:hover{
  cursor: pointer;
  color:darkslateblue;
  background-color: gray;
}

.download:hover{
  cursor: pointer;
  color:darkslateblue;
  background-color: lightgray;
}
/* /JUMBOTRON BUTTONS */





/* SECTIONS*/

section{
  position: relative;
  padding: 100px 0;
  width: 100%;
}

.odd{
  background-color: white;
}
.even{
  background-color:rgb(246, 246, 246) ;
}
/* SECTION CONTAINER */
.section.container{
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}
/*/ SECTION CONTAINER */

/* FLOATING BOX INSIDE "SECTION CONTAINER" */

.float{
  float: left;
}

.box{
  padding: 0 50px;
  
}

.box.img{
}

.box.txt{
  padding-top: 40px;
  max-width: 300px;
}
/* /FLOATING BOX INSIDE "SECTION CONTAINER" */
.box h2{
  font-size: 2rem;
  padding-bottom: 20px;
}

.box p{
  font-size: 15px;
}

/* LAST SECTION CONTAINER */

.last {
  text-align: center;
  /* margin-top:0px; */
} 

.last h3{
  display: inline-block;
  background-image: url(img/stars.svg);
  background-size:cover ;
  padding: 20px 15px;
}

.last a{
  display: block;
}

.last a .download{
  color: white;
  background-color: rgb(142, 161, 225);
}

.last a .download:hover{
  color:black ;
  /* background-color:(white); */
}
/* /LAST SECTION CONTAINER */


/* FOOTER */

footer{
  background-color:rgb(49, 97, 224);
  width: 100%;
}

footer{
  padding-top: 50px
}

.footertop{
  padding: 100px;
  background-color: white;
}

.footertop div{
  width: 150px;
  margin: 10px;
}


.footerbottom{
  margin-top: 30px;
  padding: 100px;
  background-color: white;
}