*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
header{
  background-color:rgb(49, 97, 224);
  width: 100%;
}

.header.container{
  height: 80px;
}
.container{
  margin: auto;
  width: 80%;
}

/* JUMBOTRON */
.jumbotron{
  position: relative;
  height: 300px;
  padding-top: 50px;
  background-color: blue;
}

.text{
  /* position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;
  width: 300px;
  padding: 100px;
  background-color: grey;
}

/* SECTIONS*/

section{
  position: relative;
  padding: 100px 0;
  width: 100%;
}

.odd{
  background-color: white;
}
.even{
  background-color: grey ;
}
/* SECTION CONTAINER */
.section.container{
  padding: 50px;
  background-color: lightblue;
}
/*/ SECTION CONTAINER */

/* FLOATING BOX INSIDE "SECTION CONTAINER" */

.float{
  float: left;
}

.box{
  padding: 50px;
  width: 300px;
  background-color: grey;
}

.box.sx{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 200px;
}
.box.dx{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 200px;
}

/* LAST SECTION CONTAINER */


.last{
  margin-left:400px;
  margin-top:10px;
} 


/* FOOTER */

footer{
  background-color:rgb(49, 97, 224);
  width: 100%;
}

.footer{
  padding:50px;
  /* height:600px */
}

.footertop{
  margin-bottom: 30px;
  padding: 300px;
  background-color: white;
}
.footerbottom{
  padding: 100px;
  background-color: white;
}